div.user-profile
{
    font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
    font-size: 18px;
}

img.avatar
{
    margin-top: 10px;
}

div.avatar
{
    text-align: center;
}

div.profile-navigation ul
{
    clear: both;
}
div.profile-navigation li
{
    list-style: none;
}

div.profile-navigation li
{
    padding: 7px;
}

div.profile-navigation li>a
{
    color: #000000;
}

div.profile-navigation li>a:hover
{
    text-decoration: none;
}

div.profile-content
{
    border-left: 1px solid #c0c0c0;
    text-align: center;
}

div.profile-info > img
{
    margin-top: 10px;
}

ul.user-info
{
    border-bottom: 1px solid #c0c0c0;
}