div.user-profile
{
    font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
    font-size: 18px;
}

img.avatar
{
   margin-top: 10px;
   width: 250px;
   height: 250px;
}

div.avatar
{
    text-align: center;
}

div.profile-navigation ul
{
    clear: both;
}
div.profile-navigation li
{
    list-style: none;
}

div.profile-navigation li
{
    padding: 7px;
}

div.profile-navigation li > button
{
    width: 150px;
}

div.profile-navigation li a
{
    color: #000000;
}

div.profile-navigation li a:hover
{
    text-decoration: none;
}

div.profile-content
{
    border-left: 1px solid #c0c0c0;
    text-align: center;
}

div.profile-info > img
{
    margin-top: 10px;
}

ul.user-info
{
    border-bottom: 1px solid #c0c0c0;
}

div.meme-zone
{
    height: 500px;
    text-align: center;
}

img.meme
{
    margin: 10px;
}

div.user-change
{
    width: 20%;
}

input.form-control:focus
{
    border-color: #9724d2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(189, 77, 247, 0.6);
}

ul.change-data
{
    list-style: none;
}

ul.change-data li
{
    margin-bottom: 15px;
}