.thumb {
    margin: 5px;
}

.selected {
    border: 5px solid black;
    margin: 0;
    border-radius: 5px;
}

#main {
    height: 350px;
    width: 350px;
    text-align: center;
    margin-left: 50px;

}

#main img {
    vertical-align: middle;
    max-height: 300px;
    max-width: 300px;
    border: 2px solid black;
    border-radius: 5px;
}

.aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#images {
    padding: 20px 0 20px 0;
    margin: 0;
    text-align: center;
}

#images img:not(.selected) {
    opacity: 0.5;
}

#inputs {
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
}

#inputs input {
    margin: 15px;
}

input.initial {
    color: gray;
    text-align: center;
}

#submit {
    text-align: center;
    padding: 15px;
    border-top: 2px solid #ABABAB;
}

#create {
    border-top: 2px solid #ABABAB;
    text-align: center;
}

#page {
    background-color: #DADADA;
    border: 2px solid #ABABAB;
    border-radius: 0 0 10px 10px;
}

#lastpic {
    background-color: #DADADA;
    border: 2px solid #ABABAB;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

#lastpic img {
    max-height: 500px;
    max-width: 500px;
    margin: 25px;
    border: 3px solid black;
    border-radius: 5px;
}

.darkened {
    background:#333;
    display:block;
    position: fixed;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    z-index:10;
    opacity: 0.4;
}
#ajax {
    position:absolute;
    left:50%;
    top:50%;
    display: none;
    z-index: 20;
}